


/* Form Buttons */
#add_form_field {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 100;
}

#text_btn, #textfield_btn, #checkbox_btn {
  min-width: 100px;
}


#textfield_btn, #checkbox_btn {
  margin-left: 20px;
}

a i {
  padding-right: 8px;
}


/* Form Field */
#item_form .row:nth-of-type(1){
  padding-left: 15px;
  margin-bottom: 15px;
}

#item_form div strong {
  font-size: 14px;
  color: #B22222;
}

#item_form .row:nth-of-type(5) .form-group {
  float:left;
}

#item_form .row:nth-of-type(5) button {
  margin-top: 25px;;
}

input[id=required_tag] {
  width: 20px !important;
}


/* Form Edit */

#form_preview_area {
  margin-top: 30px;
}

#form_preview_break {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: 100;
  /* border-bottom: 2px solid #e7eaec; */
  float: left;
}

.form_preview_btn {
  margin-left: 25px;
  margin-top: 20px;
}

#form_preview {
  padding: 20px 0px;
  border-top: 2px solid #e7eaec;
}

.form_title {
  margin-bottom: 20px;
  font-size: 20px;
}

.form_title i {
  font-size: 15px;
  padding-left: 10px;
}

.text_info {
  padding-left: 25px;
  margin-right: 25px;
  font-size: 15px;
}



.help_icon {
  float: left;
  text-align: left !important;
  margin-top: 7px;
  padding: 0px;
  min-width: 25px;
}

.textfield_row .help_icon {
  margin-top: 20px;
}

.checkbox_select, .textfield_info {
  padding-left: 0px;
  float: left;
}

.checkbox_label {
  font-size: 15px;
  padding-top: 5px;
  float: left;
  width: 90%;
}

.text_area, .textfield_area{
    width: 95%;
    height:100px;
    font-size: 15px;
    margin: 15px 0px;
}

.checkbox_row:hover, .textfield_row:hover {
  background: #e7eaec;
}

.checkbox_box input[type=checkbox] {
  width: 25px;
  height: 25px;
}

.checkbox_box {
  float: right;

}

.edit_buttons {
  width: 47px;
  float: left;
  margin-left: 0px;
}

.checkbox_row, .fa-pencil-square-o, .fa-trash, .fa-question-circle{
  font-size: 15px;
}

.edit_info .fa-pencil-square-o, .remove_info .fa-trash{
  padding-top: 10px;
}

#checkbox_tag {
  width: 20px;
  float: right;
}

/* Remove form item modal  */
#remove_item_form .form-group {
  margin-top: 10px;
  font-size: 15px;
}
