{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}

{% block title %}
<div class="visible-md visible-lg">Project</div>
<div class="visible-xs visible-sm"> New Project</div>
{% endblock %}
{% block head_title %}Project{% endblock %}

{% block css %}
<link href="{% static 'css/plugins/summernote/summernote.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/summernote/summernote-bs3.css' %}" rel="stylesheet">
{{ project_form.media.css }}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'projects:list' %}">Project</a>
    </li>
    <li class="active">
        <strong>New Project</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block actions %}
<div class="docket_buttons btn-group visible-xs visible-sm pull-left">
    <a class="btn btn-primary" href="{% url 'projects:list' %}">
      <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
    </a>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'projects:list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" onclick="project_form.myVariable.name='new_project';project_form.submit();">
          <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Project
        </a>
    </div>
</div>

<div class="col-lg-12">
  <form id="project_form" role="form" method="POST">
      <input type="hidden" id="myVariable" name="" />
      {% csrf_token %}
      {% if project_form.errors %}
      <div class="ibox-content m-b-sm error-box">
          <strong>Please ensure that you have completed all fields</strong>
      </div>
      {% endif %}
      <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
          <div class="col-sm-4 project_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>Project Name</label>
              {{ project_form.project_name }}
            </div>
          </div>
          <div class="col-sm-4 project_fields">
            <div class="form-group clockpicker" style="margin-left: 20px;" data-autoclose="true">
              <label>Company</label>
              {{ project_form.company }}
            </div>
          </div>
          <div class="col-sm-4 project_fields">
            <div class="form-group clockpicker" style="margin-left: 20px;" data-autoclose="true">
              <label>Status</label>
              {{ project_form.project_status }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 project_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>Address</label>
              {{ project_form.project_address }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 project_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>Start Date</label>
              {{ project_form.project_start_date }}
            </div>
          </div>
          <div class="col-sm-4 project_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>End Date</label>
              {{ project_form.project_end_date }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;">Additional Info</label>
              {{ project_form.additional_info }}
            </div>
          </div>
        </div>
      </div>
  </form>
  <div class="row">
    <div class="docket_buttons btn-group pull-right" style="margin-right: 15px; margin-top: 20px;">
        <a class="btn btn-primary visible-xs visible-sm" onclick="project_form.myVariable.name='new_project';project_form.submit();">
          <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Project
        </a>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>

<script>

$('#project_start_date_tag').datepicker({
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
});

$('#project_end_date_tag').datepicker({
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
});


$('#summernote').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
  ]
});
</script>
<script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();

    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }

    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVvfJfbo6XezSoU_xZL17d5p5BBs5ik38&libraries=places&callback=initAutocomplete"
    async defer></script>

{{ project_form.media.js }}
{% endblock javascript %}
