{% extends "base.html" %}

{% load static %}

{% block title %}Equipment Bookings{% endblock %}
{% block head_title %}Equipment Bookings{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'equipment:list' %}">Equipment</a>
    </li>
    <li class="active">
        <strong>Current Bookings</strong>
    </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table id="datatables-equlist" class="table table-hover dataTables-bookings">
                    <thead>
                        <tr>
                            <th>Equipment</th>
                            <th>Project</th>
                            <th>Company</th>
                            <th>Dates</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in equipmentbooking_list %}
                        <tr>
                            <td>{{ booking.equipment }}</td>
                            <td>{{ booking.project }}</td>
                            <td>{{ booking.company }}</td>
                            <td>{{ booking.start_date }} - {{ booking.end_date }}
                            <td>
                                <a href="{{ booking.edit_url }}" class="btn btn-primary btn-sm">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
$('.dataTables-bookings').DataTable({
    "dom": "ft",
    "lengthChange": false,
    pageLength:1000,
    responsive: true,
    language: {
        search: "_INPUT_",
        searchPlaceholder: "Search Bookings",
        "emptyTable": "No bookings have been created yet."
    },
});
</script>
{% endblock %}
