{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Equipment Booking{% endblock %}
{% block head_title %}Add Equipment Booking{% endblock %}

<link href="css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">

{% block content %}
  <h1></h1>

  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Equipment Name</label>
        <div class="col-sm-10">
          {{form.equipment}}
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Company Name</label>
        <div class="col-sm-10">
          {{form.company_name}}
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Start Date</label>
        <div class="col-sm-10">
            {{form.start_date}}
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">End Date</label>
        <div class="col-sm-10">
            {{form.end_date}}
        </div>
       </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Days</label>
        <div class="col-sm-10">
            {{form.bookings_days}}
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Estimated Cost </label>
        <div class="col-sm-10">
            {{equipment.base_rate}} - {{form.booking_cost}}
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Additional Information</label>
        <div class="col-sm-10">
            {{form.additional_info}}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create</button>
        </div>

      </div>
  </form>
 <div class="days"></div>
  <div class="xhttp" id="xhttp">
     <dt>base rate:</dt> <dd>{{ equipment.base_rate }}</dd>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('.days').html('please select a date range of at least the same day');

            $('#id_equipment').on('change',function(){
              var equid;
              equid = $('option:selected', this).attr('value');
              console.log(equid);
              $.get("{% url 'equipment:add-equipmentbooking' %}", {content: equid, name: "equip_sum"}, function(data){
                var result = $('<div />').append(data).find('#xhttp').html();
                $('#xhttp').html(result);
                  console.log(result)
              });
            });


            $('#start_date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#end_date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#end_date').on('change',function(){
                var days = (daydiff(parseDate($('#start_date').val()), parseDate($('#end_date').val())));
                 <!--uncomment for check-$('.days').html('you selected a total of '+days);-->
                document.getElementById('booking_days').value = +days;


            });

    function parseDate(str) {
    var mdy = str.split('/')
    return new Date(mdy[2], mdy[0]-1, mdy[1]);
}

function daydiff(first, second) {
    return (second-first)/(1000*60*60*24)
}

    });

    </script>

{% endblock %}
