{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}

{% block title %}Equipment{% endblock %}
{% block head_title %}Equipment{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="active">
        <strong>Equipment</strong>
    </li>
</ol>
{% endblock %}

{% block actions %}
<a class="btn btn-primary visible-sm visible-xs" href="{% url 'equipment:equipment_new' %}">Add Equipment</a></li>
{% endblock %}

{% block content %}
<div class="docket_buttons btn-group visible-md visible-lg pull-left">
    <a class="btn btn-primary btn-sm" href="{% url 'equipment:equipment_new' %}"><i class="fa fa-paste" style="padding-right: 5px;"></i>Add Equipment</a></li>
</div>
<div class="docket_buttons btn-group visible-md visible-lg pull-left">
    <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-upload" style="padding-right: 5px;"></i>Export</a></li>
</div>
<div class="docket_buttons btn-group visible-md visible-lg pull-left">
    <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-download" style="padding-right: 5px;"></i>Import</a></li>
</div>

<div class="col-lg-12">
    <div class="ibox float-e-margins col-lg-12">
        <div class="ibox-content ibox-content-65vh">
            <div class="table-responsive">
                <table id="dataTables-equipment" class="table table-hover dataTables-equipment">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Registration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipment_list %}
                        <tr class="table-row" data-href="{% url 'equipment:equipment_detail' equipment.id %}" id="{{ equipment.id }}" style="...">
                            <td>{{ equipment.equipment_id }}</td>
                            <td>{{ equipment.year }}</td>
                            <td>{{ equipment.make }}</td>
                            <td>{{ equipment.model }}</td>
                            <td>{{ equipment.registration }}</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
$('.dataTables-equipment').DataTable({
    "ordering": false,
    "dom": "ft",
    "lengthChange": false,
    "paging": false,
    responsive: true,
    language: {
        search: "_INPUT_",
        searchPlaceholder: "Search Equipment",
        "emptyTable": "No equipment has been created yet."
    },
});
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

{% endblock javascript %}

{% block css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
