{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}
{% block head_title %}{{ title }}{% endblock %}

{% block css %}
<link href="{% static 'css/plugins/summernote/summernote.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/summernote/summernote-bs3.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'equipment:list' %}">Equipment List</a>
    </li>
    <li class="active">
        <strong>{{ title }}</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="col-lg-12">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <form id="equipment_form" role="form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <input style="margin-left:15px;margin-top:20px;"type="submit" class="btn btn-primary btn-lg" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<!-- Page-Level Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>

<script>

$('#purchase_date').datepicker({
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
});


$('#summernote').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
  ]
});

</script>
{% endblock javascript %}
