{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Dockets{% endblock %}
{% block head_title %}Dockets{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'daily_dockets:list' %}">Dockets</a>
    </li>
    <li class="active">
        <strong>Docket {{ docket }}</strong>
    </li>
</ol>
{% endblock breadcrumb %}


{% block actions %}
<a class="btn btn-primary visible-xs visible-sm" style="margin-right: 10px;" href="{% url 'daily_dockets:list' %}"><i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back</a></li>
{% endblock %}


{% block action_btn %}
<div class="btn-group pull-right">
    <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Actions <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'daily_dockets:list' %}">Go Back</a></li>
    </ul>
</div>
{% endblock action_btn %}


{% block content %}
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'daily_dockets:list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'daily_dockets:dockets_pdf' docket.slug %}"><i class="fa fa-upload" style="padding-right: 5px;"></i>Dockets to PDF</a></li>
    </div>
</div>
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content ibox-content-65vh">
          <div class="col-lg-12">
              <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="ibox">
                      <div class="ibox-content p-xl">
                              <div class="row docket_image">
                                  <img alt="image" src="{% static 'images/logo.png' %}">
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading" style="font-size: 30px;">DOCKET</span>
                                      <span style="font-size: 30px;">{{ docket }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">DATE:</span>
                                      <span>{{ docket.docket_date }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">DATE:</span>
                                      <span>{{ docket.docket_date|date:"l" }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">SHIFT:</span>
                                      <span>{{ docket.docket_shift }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">CUSTOMER:</span>
                                      <span>{{ docket.company_name }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">PROJECT NAME/NUMBER:</span>
                                      <span>{{ docket.project_name }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">ITEM OR PLANT:</span>
                                      <span>{{ docket.equipment }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">OPERATOR:</span>
                                      <span>{{ docket.created_user }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">SUPERVISOR:</span>
                                      <span>{{ docket.supervisor }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">START TIME:</span>
                                      <span>{{ docket.start_time }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">FINISH TIME:</span>
                                      <span>{{ docket.finish_time }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">TOTAL HOURS:</span>
                                      <span>{{ docket.total_hours.0 }}h {{ docket.total_hours.1 }}m</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">LUNCH:</span>
                                      <span>{{ docket.lunch }}mins</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">SMOKO:</span>
                                      <span>{{ docket.smoko }}mins</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">PAYABLE HOURS:</span>
                                      <span>{{ docket.payable_hours.0 }}h {{ docket.payable_hours.1 }}m</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">ATTACHMENT:</span>
                                      <span>{{ docket.attachment }}</span>
                                  </div>
                                  <div class="col-sm-4 docket_text">
                                      <span class="docket_text_heading">ATTACHMENT HOURS:</span>
                                      <span>{{ docket.attachment_hours }}</span>
                                  </div>
                              </div>
                              <div class="table-responsive m-t docket_checklist">
                                  <h3>PLANT OPERATORS' DAILY SAFETY CHECKLIST</h3>
                                  <table class="table invoice-table">
                                    <tbody>
                                    <tr>
                                        <td><div><strong>1. Brakes, steering, gauges, lights, warning devices</strong></div>
                                        <td class="docket_item_sum">{{ docket.item1 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>2. Visibility - windscreen, wipers, washers, demisters, mirrors, windows</strong></div>
                                        <td class="docket_item_sum">{{ docket.item2 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>3. Cabin - access, seating, seatbelts, loose objects, control levers</strong></div>
                                        <td class="docket_item_sum">{{ docket.item3 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>4. Wheels, tyres, nutes, damage, wear, pressure</strong></div>
                                        <td class="docket_item_sum">{{ docket.item4 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>5. Guards - in place, secure, warning signs lights, alarms</strong></div>
                                        <td class="docket_item_sum">{{ docket.item5 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>6. Hydraulics - rams, hoses, leaks, wear</strong></div>
                                        <td class="docket_item_sum">{{ docket.item6 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>7. Excessive wear - hooks, chains, pins, pivots, tracks, G.E.T.</strong></div>
                                        <td class="docket_item_sum">{{ docket.item7 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>8. Oils and coolants level</strong></div>
                                        <td class="docket_item_sum">{{ docket.item8 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>9. Misc, electrical, fire extinguisher, communications</strong></div>
                                        <td class="docket_item_sum">{{ docket.item9 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>10. Quick hitch attachments</strong></div>
                                        <td class="docket_item_sum">{{ docket.item10 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>11. You are free from the influences of drugs and alcohol</strong></div>
                                        <td class="docket_item_sum">{{ docket.item11 }}</td>
                                    </tr>
                                    <tr>
                                        <td><div><strong>12. You are physically and mentally fit to operate or drive</strong></div>
                                        <td class="docket_item_sum">{{ docket.item12 }}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                              </div><!-- /table-responsive -->
                              <div class="row">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">Details of Fault/Defect:</span>
                                      <span>{{ docket.fault }}</span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">Fault Reported to:</span>
                                      <span>{{ docket.reported_to }}</span>
                                  </div>
                              </div>
                              <div class="row docket_signature">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">Operator's Signature:</span><br>
                                      <span class="docket_text_signature"><img src="{{ docket.operator_sign }}"></span>
                                  </div>
                              </div>
                              <div class="row docket_signature">
                                  <div class="col-sm-12 docket_text">
                                      <span class="docket_text_heading">Supervisor's Signature:</span><br>
                                      <span class="docket_text_signature"><img src="{{ docket.supervisor_sign }}"></span>
                                  </div>
                              </div>
                          </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}

{% endblock javascript %}
