{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Docket {{ docket }}{% endblock %}
{% block head_title %}Docket {{ docket }}{% endblock %}


{% block actions %}
<a class="btn btn-primary btn-lg visible-xs visible-sm" style="margin-right: 10px;" href="{% url 'daily_dockets:list' %}"><i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back</a></li>
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="">Home</a>
    </li>
    <li>
        <a href="{% url 'daily_dockets:list' %}">Dockets</a>
    </li>
    <li class="active">
        <strong>{{ docket }}</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'daily_dockets:list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
</div>
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-8">
                    <div class="m-b-md">
                        <h3>Create a new Daily Docket</h3>
                        <h5>Operators are required to complete the daily prestart at the start of every shift. These records are for the basis of a safety and plant maintenace procedure and will be subject to random inspection. Keep the record with you at all times.</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-hover" >
                        <tbody>
                            <!-- Complete Daily Prestart -->
                            <tr class="table-row" data-href="{% url 'daily_dockets:prestart_form' docket.slug %}" style="cursor: pointer;">
                                <td class="docket_colour_div" ><div class="docket_colour_element"></div></td>
                                <td class="docket-status"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                                <td class="docket-title"><b>Complete Daily Prestart</b></td>
                            </tr>
                            <!-- Complete Daily Docket -->
                            <tr class="table-row" data-href="{% url 'daily_dockets:docket_form' docket.slug%}" style="cursor: pointer;">
                                <td class="docket_colour_div" ><div class="docket_colour_element"></div></td>
                                {% if docket.company_name == "" %}
                                <td class="docket-status"><i class="fa fa-square-o fa-2x" aria-hidden="true"></i></td>
                                {% else %}
                                <td class="docket-status"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
                                {% endif %}
                                <td class="docket-title"><b>Complete Daily Docket</b></td>
                            </tr>
                            <!-- Signed Daily Docket -->
                            {% if docket.company_name == "" %}
                            <tr class="docket_disabled">
                                <td class="docket_colour_div" ><div class="docket_colour_element"></div></td>
                                <td class="docket-status"><i class="fa fa-square-o fa-2x" aria-hidden="true"></i></td>
                                <td class="docket-title"><b>Sign Daily Docket</b></td>
                            </tr>
                            {% else %}
                            <tr class="table-row" data-href="{% url 'daily_dockets:docket_signature' docket.slug%}" style="cursor: pointer;">
                                <td class="docket_colour_div" ><div class="docket_colour_element"></div></td>
                                <td class="docket-status"><i class="fa fa-square-o fa-2x" aria-hidden="true"></i></td>
                                <td class="docket-title"><b>Sign Daily Docket</b></td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
$(document).ready(function($) {
		$(".table-row").click(function() {
				window.location = $(this).data("href");
		});
});
</script>
{% endblock javascript %}
