{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Docket {% if docket %}{{ docket }} {% endif %}Prestart{% endblock %}
{% block head_title %}Docket {% if docket %}{{ docket }} {% endif %}Prestart{% endblock %}


{% block css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{{ prestart_form.media.css }}
{% endblock %}


{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'daily_dockets:list' %}">Dockets</a>
    </li>
    <li>
        {% if docket_url %}
        <a href="{{ docket_url }}">{{ docket }}</a>
        {% else %}
        <a href="{% url 'daily_dockets:daily_docket_new' %}">New</a>
        {% endif %}
    </li>
    <li class="active">
        <strong>Prestart</strong>
    </li>
</ol>
{% endblock breadcrumb %}


{% block actions %}
<a class="btn btn-primary visible-xs visible-sm" style="margin-right: 10px;" href="{% url 'daily_dockets:daily_docket_new' %}"><i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back</a></li>
{% endblock %}


{% block content %}
<div class="col-lg-12">
  <div id="fault_error_msg" class="ibox-content m-b-sm error-box" style="display: none;">
      <strong>Please enter the details about any items that need attention at the bottom of the page   </strong>
  </div>
</div>
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        {% if docket_url %}
        <a class="btn btn-primary btn-sm" href="{% url 'daily_dockets:docket_start' docket.slug %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
        {% else %}
        <a class="btn btn-primary btn-sm" href="{% url 'daily_dockets:daily_docket_new' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
        {% endif %}
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a id="jstest" class="btn btn-primary btn-sm">
          <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Prestart
        </a>
    </div>
</div>
<div class="col-lg-12">
    <form id="prestart_form_test" role="form" method="POST" name="James">
        <input type="hidden" type="submit" />
        {% csrf_token %}
        {% if prestart_form.errors %}
        <div class="ibox-content m-b-sm error-box">
            <strong>Please ensure that you have completed all the required fields *</strong>
        </div>
        {% endif %}

        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ prestart_form.docket_date.label }} *</label>
                        {{ prestart_form.docket_date }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ prestart_form.docket_shift.label }} *</label>
                        {{ prestart_form.docket_shift }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ prestart_form.equipment.label }} *</label>
                        {{ prestart_form.equipment }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ prestart_form.equipment_num.label }} *</label>
                        {{ prestart_form.equipment_num }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ prestart_form.equipment_hours.label }} *</label>
                        {{ prestart_form.equipment_hours }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h4>Operators are required to check the following items before commencing work. These records are for the basis of a  plant maintenace procedure and will be subject to random inspection.</h4>
                        <h4>Before commencing operation check:</h4>
                    </div>
                    <div class="ibox-content">
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item1.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item1 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item2.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item2 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item3.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item3 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item4.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item4 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item5.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item5 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item6.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item6 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item7.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item7 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item8.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item8 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item9.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item9 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item10.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item10 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item11.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item11 }}</b></div>
                      </div>
                      <div class='row' style='border-bottom: 1px solid #e7eaec;'>
                        <div class="docket-title"><b>{{ prestart_form.item12.label }}</b></div>
                        <div class="docket-check" ><b>{{ prestart_form.item12 }}</b></div>
                      </div>
                      {{ prestart_form.fault }}
                      {{ prestart_form.reported_to }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
      <div class="docket_buttons btn-group pull-right" style="margin-right: 15px;">
          <a class="btn btn-primary visible-xs visible-sm">
            <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Prestart
          </a>
      </div>
    </div>
</div>

<!-- Pre-popultaes the equipment name field -->
<div id="try_this" style="display: none;">
  {{ equipment.make }} {{ equipment.model }}
</div>
{% endblock content %}

{% block javascript %}
<!-- Date Picker -->
<script src="{% static 'js/plugins/fullcalendar/moment.min.js' %}"></script>
<script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

<script>
$('#docket_date_tag').datepicker({
    format: 'yyyy-mm-dd',
    todayBtn: "linked",
    keyboardNavigation: false,
    forceParse: false,
    calendarWeeks: true,
    autoclose: true
});

$("#jstest").click(function() {
    var res = true;
    $(".item_option").each(function() {
      if($(this).val() === 'Needs Attention' && $.trim($('#fault_tag').val()) === '' ){
        $('#fault_error_msg').show();
        res = false;
      }
    });
    if(res === false){
      return false;
    } else {
      $( "#prestart_form_test" ).submit();
    }
});


$("#equipment_tag").on('change',function(){
    var equip_id = $(this).val();
    $.get("{% url 'daily_dockets:prestart_form' %}", {content: equip_id},
    function(data){
      var result = $('<div />').append(data).find('#try_this').html();
      $('#try_this').html(result);
      var equip_name = $('#try_this').text();
      $("#equipment_num_tag").val(equip_name);
    });
});



    // $("#equipment_num_tag").val(equip_name);


</script>
{{ prestart_form.media.js }}
{% endblock javascript %}
