{% extends "base.html" %}
{% load static i18n %}
{% load humanize %}
{% block title %}Connections{% endblock %}
{% block head_title %}Connections{% endblock %}

{% block css %}
<link href="{% static 'css/jquery.autocomplete.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/summernote/summernote.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/summernote/summernote-bs3.css' %}" rel="stylesheet">
{{ contact_form.media.css }}
{% endblock %}

{% block actions %}
<a class="btn btn-primary visible-xs visible-sm" style="margin-right: 10px;" href="{% url 'connections:list' %}"><i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back</a></li>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'connections:list' %}">Connections</a>
    </li>
    <li class="active">
        <strong>Add Contact</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'connections:list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" onclick="contact_form.myVariable.name='new_contact';contact_form.submit();">
          <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Contact
        </a>
    </div>
</div>

<div class="col-lg-12">
  <form id="contact_form" role="form" method="POST">
    <input type="hidden" id="myVariable" name="" />
    {% csrf_token %}
    {% if contact_form.errors %}
    <div class="ibox-content m-b-sm error-box">
        <strong>Please ensure that you have completed all the required fields *</strong>
    </div>
    {% endif %}
      <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>{{ contact_form.first_name.label }} *</label>
              {{ contact_form.first_name }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group clockpicker" style="margin-left: 20px;" data-autoclose="true">
              <label>{{ contact_form.last_name.label }} *</label>
              {{ contact_form.last_name }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>{{ contact_form.job_title.label }} *</label>
              {{ contact_form.job_title }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label>{{ contact_form.company.label }}</label>
              {{ contact_form.company }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.project.label }}</label>
              {{ contact_form.project }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.email_work.label }}</label>
              {{ contact_form.email_work }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.phone_mobile.label }}</label>
              {{ contact_form.phone_mobile }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.phone_work.label }}</label>
              {{ contact_form.phone_work }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.linkedin.label }}</label>
              {{ contact_form.linkedin }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.facebook.label }}</label>
              {{ contact_form.facebook }}
            </div>
          </div>
          <div class="col-sm-4 timesheet_fields">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >{{ contact_form.twitter.label }}</label>
              {{ contact_form.twitter }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" style="margin-left: 20px;">
              <label style="display: block;" >Additional Info</label>
              {{ contact_form.additional_info }}
            </div>
          </div>
        </div>
      </div>
  </form>
  <div class="row">
    <div class="docket_buttons btn-group pull-right" style="margin-right: 15px; margin-top: 20px;">
        <a class="btn btn-primary visible-xs visible-sm" onclick="contact_form.myVariable.name='new_contact';contact_form.submit();">
          <i class="fa fa-floppy-o" style="padding-right: 5px;"></i>Save Contact
        </a>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}

<script src="{% static 'js/plugins/summernote/summernote.min.js' %}"></script>
<script src="{% static 'js/jquery.autocomplete.js' %}"></script>

<script>
$('#summernote').summernote({
  toolbar: [
    ['style', ['bold', 'italic', 'underline']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
  ]
});

// Sets the project select box to empty if the company select box is changed
$("#id_company").on('change',function(){
  $("#id_project").empty()
});

</script>

{{ contact_form.media.js }}
{% endblock javascript %}
