{% extends "base.html" %}

{% load static i18n humanize %}

{% block title %}
<div class="visible-md visible-lg">Timesheets</div>
<div class="visible-xs visible-sm"> Weekly Timesheet</div>
{% endblock %}
{% block head_title %}Timesheets{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'timesheet:timesheet_list' %}">Weekly Timesheets</a>
    </li>
    <li class="active">
        <strong>Monday {{ dates.0.0 }}</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block actions %}
<div class="docket_buttons btn-group visible-xs visible-sm pull-left">
    <a class="btn btn-primary" href="{% url 'timesheet:timesheet_list' %}">
      <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
    </a>
</div>
{% endblock %}



{% block content %}
<div class="row">
    <div class="visible-md visible-lg">
        <p style="font-size: 20px; margin-left: 50px;">Wednesday {{ dates.0.0 }} - Tuesday {{ dates.6.0 }}</p>
    </div>
    <div class="visible-sm visible-xs">
        <p style="font-size: 20px; margin-left: 50px;">{{ dates.0.0 }} - {{ dates.4.0 }}</p>
    </div>
</div>

<div class="row">
    <div style="margin-left: 50px; margin-top: 10px; margin-bottom: 50px;" >
        <i style="float: left; margin-right: 25px;" class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
        <div>
            <span style="margin-top: 10px;"> Hours worked this week </span>
            <p style="font-size: 20px;" class="font-bold">{{ weekly_hours }}h {{ weekly_mins }}m</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'timesheet:timesheet_list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
    {% if timesheet_list_weekly.0.status == "Open" %}
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'timesheet:timecard_new' timesheet.slug %}"><i class="fa fa-paste" style="padding-right: 5px;"></i>New Timecard</a></li>
    </div>
    <div class="docket_buttons btn-group visible-xs visible-sm pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'timesheet:timecard_new' timesheet.slug %}"><i class="fa fa-paste" style="padding-right: 5px;"></i>New Timecard</a></li>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-timesheet-submit"><i class="fa fa-paste" style="padding-right: 5px;"></i>Submit Timesheet</a></li>
    </div>
    <div class="docket_buttons btn-group visible-xs visible-sm pull-right" style="margin-right: 15px;">
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-timesheet-submit"><i class="fa fa-paste" style="padding-right: 5px;"></i>Submit Timesheet</a></li>
    </div>
    {% endif %}
    {% if user.is_superuser and timesheet.status == "Submitted"%}
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-timesheet-approve"><i class="fa fa-paste" style="padding-right: 5px;"></i>Approve Timesheet</a></li>
    </div>
    <div class="docket_buttons btn-group visible-xs visible-sm pull-right" style="margin-right: 15px;">
        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-timesheet-approve"><i class="fa fa-paste" style="padding-right: 5px;"></i>Approve Timesheet</a></li>
    </div>
    {% endif %}
</div>

<div class="col-lg-12">
    <div class="ibox float-e-margins col-lg-12">
        <div class="ibox-content ibox-content-65vh">
            <div class="table-responsive">
                <table id="dataTables-timesheets" class="table table-hover ">
                    <thead>
                        <tr>
                            <th class="hidden-xs hidden-sm">Status</th>
                            <th class="hidden-xs hidden-sm">User</th>
                            <th>Day</th>
                            <th>Date</th>
                            <th>Payable Hours</th>
                            <th class="hidden-xs hidden-sm">Start Time</th>
                            <th class="hidden-xs hidden-sm">Finish Time</th>
                            <th class="hidden-xs hidden-sm">Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timesheet in timesheet_list_weekly %}
                        {% if timesheet.start_time is not None %}
                        <tr class="change_timesheet" id="{{ timesheet.slug }}" data-toggle="modal" data-target="#modal-timesheet-sum" style="cursor: pointer;">
                            <td class="docket-status hidden-xs hidden-sm">
                                {% if timesheet.status == "Open" %}
                                <span class="label label-warning">{{ timesheet.status }}</span>
                                {% elif timesheet.status == "Submitted" %}
                                <span class="label label-info">{{ timesheet.status }}</span>
                                {% else %}
                                <span class="label label-success">{{ timesheet.status }}</span>
                                {% endif %}
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                <b>{{ timesheet.created_user.first_name }} {{ timesheet.created_user.last_name }}</b>
                            </td>
                            <td class="docket-text">
                                <b>{{ timesheet.timesheet_date|date:"l"}}</b>
                            </td>
                            <td class="docket-text">
                                {{ timesheet.timesheet_date }}
                            </td>
                            <td class="docket-text">
                                {{ timesheet.payable_hours.0 }}h {{ timesheet.payable_hours.1 }}m
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.start_time }}
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.finish_time }}
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.project }}<br>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor timesheet%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="modal-timesheet-sum" class="modal fade" aria-hidden="true">
    <div class="modal-dialog timesheet_sum">
        <div class="modal-content"  id="timesheet_summary">
            <div class="modal-body new_timesheet_modal">
                <div class="row">
                    <div class="ibox new_timesheet_modal">
                        <div class="ibox-title weekly_timesheet_sum_heading" style="text-align: center;">
                            <div style="font-size: 20px; padding-bottom: 15px; border-bottom: 2px solid #b8bbbc;">
                                Timecard<br>
                                {{ timesheet_sum.timesheet_date|date:"l" }} {{ timesheet_sum.timesheet_date }}
                            </div>
                        </div>
                        <div class="ibox-content">
                            {% if timesheet_sum.status == "Open" or user.is_superuser %}
                            <div class="row" style="margin-bottom: 20px;">
                              {% if timesheet_sum.docket_num == "" or user.is_superuser %}
                              <a class="btn btn-primary visible-md visible-lg pull-right" href="{% url 'timesheet:timecard_edit' timesheet_sum.slug %}">Edit timecard</a>
                              {% endif %}
                              <button type="button" class="btn btn-primary visible-md visible-lg pull-left" data-dismiss="modal">Close</button>
                            </div>
                            <div class="row">
                              {% if timesheet_sum.docket_num == "" or user.is_superuser %}
                              <a class="btn btn-primary visible-xs visible-sm pull-right" href="{% url 'timesheet:timecard_edit' timesheet_sum.slug %}" style="margin-bottom: 15px;">
                                Edit timecard
                              </a>
                              {% endif %}
                              <button type="button" class="btn btn-primary visible-xs visible-sm pull-left" data-dismiss="modal">Close</button>
                            </div>
                            {% endif %}
                            <strong>Docket details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        {% if timesheet_sum.docket_num == "" %}
                                        <span class="pull-right">No Docket</span>
                                        {% else %}
                                        <span class="pull-right">D-{{ timesheet_sum.created_user.id}}-{{ timesheet_sum.docket_num }}</span>
                                        {% endif %}
                                        Docket
                                    </li>
                                </ul>
                            </div>
                            <strong>Time details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">{{ timesheet_sum.timesheet_date }}</span>
                                        Date
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet.payable_hours.0 }}h {{ timesheet.payable_hours.1 }}m</span>
                                        Payable Hours
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.start_time }}</span>
                                        Time start
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.finish_time }}</span>
                                        Time finish
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.docket_shift }}</span>
                                        Shift
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.lunch }}m</span>
                                        Lunch
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.smoko}}m</span>
                                        Smoko
                                    </li>
                                </ul>
                            </div>
                            <strong>Project details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">{{ timesheet_sum.company }}</span>
                                        Client
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.project }}</span>
                                        Project
                                    </li>
                                </ul>
                            </div>
                            <strong>Equipment details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">{{ timesheet_sum.equipment }}</span>
                                        Unit No.
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.equipment_num }}</span>
                                        Item or Plant
                                    </li>
                                    {% if timesheet_sum.equipment_start_hours != "" %}
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.equipment_start_hours }}</span>
                                        Start Hours
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.equipment_finish_hours }}</span>
                                        Finish Hours
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <strong>Attachment details</strong>
                            {% if timesheet_sum.attachment_1 == None and timesheet_sum.attachment_2 == None and timesheet_sum.attachment_3 == None   %}
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right"></span>
                                        No Attachments Used
                                    </li>
                                </ul>
                            </div>
                            {% else %}
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    {% if timesheet_sum.attachment_1 != None %}
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">{{ timesheet_sum.attachment_1 }}</span>
                                        Attachment 1
                                    </li>
                                    <li class="list-group-item  fist-item">
                                        <span class="pull-right">{{ timesheet_sum.attachment_hours_1 }}</span>
                                        Attachment 1 Hours
                                    </li>
                                    {% endif %}
                                    {% if timesheet_sum.attachment_2 != None %}
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.attachment_2 }}</span>
                                        Attachment 2
                                    </li>
                                    <li class="list-group-item fist-item" >
                                        <span class="pull-right">{{ timesheet_sum.attachment_hours_2 }}</span>
                                        Attachment 2 Hours
                                    </li>
                                    {% endif %}
                                    {% if timesheet_sum.attachment_3 != None %}
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.attachment_3 }}</span>
                                        Attachment 3
                                    </li>
                                    <li class="list-group-item  fist-item">
                                        <span class="pull-right">{{ timesheet_sum.attachment_hours_3 }}</span>
                                        Attachment 3 Hours
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                            <strong>Additional info</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item">
                                        <span>{{ timesheet_sum.additional_info|safe }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-timesheet-submit" class="modal fade" aria-hidden="true">
    <div class="modal-dialog timesheet_sum">
        <div class="modal-content" id="timesheet-submit">
            <div class="modal-body new_timesheet_modal">
              <div class="" style="text-align: center;">
                  <div style="font-size: 20px; padding-bottom: 15px;">
                      Are you sure you want to submit your timesheet.
                      <br>
                      <br>
                      Once you have submitted your timesheet you will not be able to make any more changes.
                  </div>
              </div>
            </div>
            <div class="modal-footer" style="border: 0px; margin-top: 0px; ">
                <form action="" name="submit_timesheet" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="submit_timesheet">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-timesheet-approve" class="modal fade" aria-hidden="true">
    <div class="modal-dialog timesheet_sum">
        <div class="modal-content" id="timesheet-approve">
            <div class="modal-body new_timesheet_modal">
              <div class="" style="text-align: center;">
                  <div style="font-size: 20px; padding-bottom: 15px;">
                      Are you sure you want to approve this timesheet
                  </div>
              </div>
            </div>
            <div class="modal-footer" style="border: 0px; margin-top: 0px; ">
                <form action="" name="approve_timesheet" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="approve_timesheet">Approve</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>

$(document).ready(function($) {
    $(".table-row").click(function() {
        window.location = $(this).data("href");
    });
});


$('.change_timesheet').click(function(){
    var catid;
    catid = $(this).attr("id");
    $.get("{% url 'timesheet:weekly_timesheet' timesheet.slug %}", {content: catid, name: "timesheet_sum"},
    function(data){
        var result = $('<div />').append(data).find('#timesheet_summary').html();
        $('#timesheet_summary').html(result);
    });
});


</script>
{% endblock javascript %}

{% block css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
