{% extends "base.html" %}

{% load static i18n humanize %}

{% block title %}Timesheets{% endblock %}
{% block head_title %}Timesheets{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="active">
        <strong>Timesheets</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block actions %}
<a class="btn btn-primary visible-xs visible-sm" style="margin-right: 10px;" href=""><i class="fa fa-paste" style="padding-right: 5px;"></i>New Timesheet</a></li>
{% endblock %}



{% block content %}
<div class="row">
    <div class="visible-md visible-lg">
        <p style="font-size: 20px; margin-left: 50px;">Monday {{ dates.0.0 }} - Friday {{ dates.4.0 }}</p>
    </div>
    <div class="visible-sm visible-xs">
        <p style="font-size: 20px; margin-left: 50px;">{{ dates.0.0 }} - {{ dates.4.0 }}</p>
    </div>
</div>

<div class="row">
    <div style="margin-left: 50px; margin-top: 10px; margin-bottom: 50px;" >
        <i style="float: left; margin-right: 25px;" class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
        <div>
            <span style="margin-top: 10px;"> Hours worked this week </span>
            <p style="font-size: 20px;" class="font-bold">{{ weekly_hours }}h {{ weekly_mins }}m</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'timesheet:timesheet_list' %}">
          <i class="fa fa-arrow-circle-left" style="padding-right: 5px;"></i>Go Back
        </a>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href="{% url 'timesheet:timecard_new' %}"><i class="fa fa-paste" style="padding-right: 5px;"></i>New Timecard</a></li>
    </div>
</div>

<div class="col-lg-12">
    <div class="ibox float-e-margins col-lg-12">
        <div class="ibox-content ibox-content-65vh">
            <div class="table-responsive">
                <table id="dataTables-timesheets" class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Hours</th>
                            <th class="hidden-xs hidden-sm">Start Time</th>
                            <th class="hidden-xs hidden-sm">Finish Time</th>
                            <th class="hidden-xs hidden-sm">Project</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for timesheet in timesheet_list_weekly %}
                        {% if timesheet.start_time is not None %}
                        <tr class="change_timesheet" id="{{ timesheet.slug }}" data-toggle="modal" data-target="#modal-timesheet-sum" style="cursor: pointer;">
                            <td class="docket-text">
                                <b>{{ timesheet.docket_date }}</b>
                            </td>
                            <td class="docket-text">
                                {{ timesheet.docket_date|date:"l" }}
                            </td>
                            <td class="docket-text">
                                {{ timesheet.payable_hours.0 }}h {{ timesheet.payable_hours.1 }}m
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.start_time }}
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.finish_time }}
                            </td>
                            <td class="docket-text hidden-xs hidden-sm">
                                {{ timesheet.project }}<br>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor timesheet%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="modal-timesheet-sum" class="modal fade" aria-hidden="true">
    <div class="modal-dialog timesheet_sum">
        <div class="modal-content"  id="timesheet_summary">
            <div class="modal-body new_timesheet_modal">
                <div class="row">
                    <div class="ibox new_timesheet_modal">
                        <div class="ibox-title weekly_timesheet_sum_heading" style="text-align: center;">
                            <div style="font-size: 20px; padding-bottom: 15px;">
                                {{ timesheet_sum.docket_date }}
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                              <a class="btn btn-primary visible-md visible-lg pull-right" href="#">Edit contact</a>
                            </div>
                            <div class="row">
                              <a class="btn btn-primary btn-lg visible-xs visible-sm pull-right" href="#" style="margin-bottom: 15px;">
                                Edit contact
                              </a>
                            </div>
                            <strong>Time details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">{{ timesheet_sum.start_time }}</span>
                                        Time start
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ timesheet_sum.finish_time }}</span>
                                        Time finish
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.email_work }}</span>
                                        Email
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.phone_mobile}}</span>
                                        Mobile
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.phone_work }}</span>
                                        Office Phone
                                    </li>
                                </ul>
                            </div>
                            <strong>Social media details</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.linkedin }}</span>
                                        Linkedin
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.facebook }}</span>
                                        Facebook
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">{{ contact.twitter }}</span>
                                        Twitter
                                    </li>
                                </ul>
                            </div>
                            <strong>Additional info</strong>
                            <div class="timesheet-detail">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item">
                                        <span>{{ contact.additional_info|safe }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary visible-md visible-lg pull-right" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-lg visible-xs visible-sm pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block javascript %}
<script>

$(document).ready(function($) {
    $(".table-row").click(function() {
        window.location = $(this).data("href");
    });
});


$('.change_timesheet').click(function(){
    var catid;
    catid = $(this).attr("id");
    $.get("{% url 'timesheet:weekly_timesheet' timesheet.slug %}", {content: catid, name: "timesheet_sum"},
    function(data){
        var result = $('<div />').append(data).find('#timesheet_summary').html();
        $('#timesheet_summary').html(result);
    });
});


</script>
{% endblock javascript %}

{% block css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
