{% extends "base.html" %}

{% load static i18n humanize %}

{% block title %}Timesheets{% endblock %}
{% block head_title %}Timesheets{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="active">
        <strong>Weekly Timesheets</strong>
    </li>
</ol>
{% endblock breadcrumb %}

{% block content %}
<!-- {% if user.is_staff %}
<div class="row">
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-upload" style="padding-right: 5px;"></i>Export CSV</a></li>
    </div>
    <div class="docket_buttons btn-group visible-md visible-lg pull-left">
        <a class="btn btn-primary btn-sm" href=""><i class="fa fa-exchange" style="padding-right: 5px;"></i>Export MYOB</a></li>
    </div>
</div>
{% endif %} -->

<div class="col-lg-12">
    <div class="ibox float-e-margins col-lg-12">
        <div class="ibox-content ibox-content-65vh">
            <div class="table-responsive">
                <table id="dataTables-timesheets" class="table table-hover dataTables-timesheets">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th class="hidden-xs hidden-sm">User</th>
                            <th>Week Start</th>
                            <th class="hidden-xs hidden-sm">Week End</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in weekly_list %}
                        <tr class="table-row" data-href="{% url 'timesheet:weekly_timesheet' date.slug %}" id="{{ date.slug }}" style="cursor: pointer;">
                          <td class="docket-status">
                              {% if date.status == "Open" %}
                              <span class="label label-warning">{{ date.status }}</span>
                              {% elif date.status == "Submitted" %}
                              <span class="label label-info">{{ date.status }}</span>
                              {% else %}
                              <span class="label label-success">{{ date.status }}</span>
                              {% endif %}
                          </td>
                          <td class="docket-text hidden-xs hidden-sm">
                              <b>{{ date.created_user.first_name }} {{ date.created_user.last_name }}</b><br>
                          </td>
                          <td class="docket-text">
                              <b>{{ date.week_start_date|date:"l" }} - {{ date.week_start_date }}</b><br>
                          </td>
                          <td class="docket-text hidden-xs hidden-sm">
                              <b>{{ date.week_end_date|date:"l" }} - {{ date.week_end_date }}</b><br>
                          </td>
                        </tr>
                        {% endfor timesheet%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>

$(document).ready(function($) {
    $(".table-row").click(function() {
        window.location = $(this).data("href");
    });
});


$('.dataTables-timesheets').DataTable({
    "pagingType": "simple",
    "ordering": false,
    "lengthChange": false,
    pageLength:15,
    responsive: true,
    language: {
        search: "_INPUT_",
        searchPlaceholder: "Search Timesheets",
        "emptyTable": "No timesheets have been created yet.",
        "info": "",
    },
});
</script>
{% endblock javascript %}

{% block css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
